.sim/*/
db/
incremental_db/
output_files/
simulation/
c5_pin_model_dump.txt
*.bak
RAM.mif
asm/__pycache__/
asm/HLIR_typeinfo.txt
asm/asm_dbg.txt
asm/asm_info.txt
asm/out.asm
asm/out.hlr
asm/out.llr
asm/out.mif
asm/state_dump.txt
asm/struct_dump.txt